<!-- this is used to return to the default reactedToForm -->
    <div class="loginInputLabels">
      <p>Reacted To?</p>
    </div>

    <button class="loginPageSubmitButton reactedTo" hx-get="/videos/upload/reactedToInputForm"
      hx-target="#reactedToInputFormLocation"
      hx-swap="innerHTML">Yes</button>