<!-- this is used to return to the default reactedToForm -->
<p>Reacted To?</p>
<button hx-get="/videos/upload/reactedToInputForm"
hx-target="#reactedToInputFormLocation"
hx-swap="innerHTML">Yes</button>