<div id="donateForm">

<!-- button that allows user to connect to metamask/ prompts metamask to connect to the page -->
<button onclick="connectMetamask()">CONNECT TO METAMASK</button><br><br>

<!-- connects the user to the contract -->
<button onclick="connectContract()">CONNECT TO CONTRACT</button>
<p id="contractArea">Status: Not connected to Contract</p>

<!-- basic donation functionality button -->
<button onclick="sendEth()">Send ether to <%= creatorUsername %></button><br><br>
<input type="number" id="depositInput" placeholder="Enter Amount"><br> <br>

<button 
    hx-delete="/videos/watch/<%= filename %>/removeDonateForm"
    hx-target="#donateForm"
    hx-swap="outerHTML">X</button>


</div>