<div id="donateForm">

    <!-- button that allows user to connect to metamask/ prompts metamask to connect to the page -->
    <button onclick="connectMetamask()">CONNECT TO METAMASK</button>
    <p id="userArea">Status: Not connected to Metamask</p>
    <!-- connects the user to the contract -->
    <button onclick="connectContract()">CONNECT TO CONTRACT</button>
    <p id="contractArea">Status: Not connected to Contract</p>

    <!-- basic donation functionality button -->
    <button onclick="applyContractTermsToDonation()">Send ether to <%= creatorUsername %></button>
    <input type="number" id="depositInput" placeholder="Enter Amount">

    <button 
        hx-delete="/videos/watch/<%= filename %>/removeDonateForm"
        hx-target="#donateForm"
        hx-swap="outerHTML">X</button>
</div>