<!-- will be used later to display error messages -->

<% if (messages.error) { %> 
<p id="errorMessage"><%= messages.error %></p>
<% } %>

<% if (messages.message) { %> 
<p id="messageMessage"><%= messages.message %></p>
<% } %>