<header>
    <nav>
        <a href="/" class="navbarLinks">Home</a>
        <!-- if this variable doesnt exist it means the user is not logged in
         there may be a cleaner/ more proper way to do this -->
        <% if (!locals.username) { %>
            <a href="/register"class="navbarLinks">Register</a>
            <a href="/login/"class="navbarLinks">Login</a>
        <% } %>
        <a href="/videos/"class="navbarLinks">Popular</a>
        <a href="/videos/upload"class="navbarLinks">Upload</a>
        <!-- if the user is logged in then display the profile page -->
        <% if (locals.username) { %>
            <a href="/myprofile/<%= locals.username %>"class="navbarLinks">Profile</a>
            <form action="/logout" method="post"> 
                <button class="logout navbarLinks" type="submit"class="navbarLinks" id="logOutButton">Log Out</button>
            </form>
        <% } %>



    </nav>
</header>