<!-- button to subscribe/unsubscribe 
 (was an extreme pain figuring how to do this without making a route specifically for foreign profile viewer) -->

<% array = x %>

 <% if(subbed == false) { %>
    <form action="/subscribe/<%= x.username %>" method="POST">
        <button class="subscribeButton" type="submit">Sub</button>
    </form>

<% } else { %>
    <form action="/unsubscribe/<%= x.username %>" method="POST">
        <button class="subscribeButton" type="submit">UnSub</button>
    </form>
<% } %>