<!-- button to subscribe/unsubscribe 
 (was an extreme pain figuring how to do this without making a route specifically for foreign profile viewer) -->

<% array = x %>

<div id="subscribeButtonContainer">
    <button class="subscribeButton"
    hx-post="/<%= subscribeAction %>/<%= x.username %>"
    hx-target="#subscribeButtonContainer"
    hx-swap="outerHTML"><%= subscribeActionText %></button>
</div>
