<!-- layout that each page will use, here i put the to be used error message notifier as well as the navbar -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="icon" type="image/x-icon" href="/pageImages/favicon.ico">
    
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="anonymous"></script>
    <!-- css for the layout -->
    <link rel="stylesheet" href="/styles/layout.css">
    <!-- css for the navbar -->
    <link rel="stylesheet" href="/styles/header.css">
    <!-- css for homepage -->
    <link rel="stylesheet" href="/styles/homepage.css">
    <!-- css for self profile viewer -->
    <link rel="stylesheet" href="/styles/selfProfile.css">
    <!-- css for video page -->
    <link rel="stylesheet" href="/styles/video.css">
    <!-- css for subscribe button -->
    <link rel="stylesheet" href="/styles/subscribeButton.css">
    <!-- css for donatation form -->
    <link rel="stylesheet" href="/styles/donateForm.css">
    <!-- css for login page -->
    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/errorMessage.ejs') %>
    <%- body %>
</body>
</html>