<!-- home page -->


<a class="subsectionTitles" href="/videos/popular">
    <h1 class="subsectionTitles">Popular</h1>
</a>
<!-- iterate over the all the files sent and create a thumbnail for each video which links to the actual video -->
<%- include('./partials/popularPanorama.ejs') %>

<% if(subbedVideos.length > 0) { %>
<a class="subsectionTitles" href="/videos/recommended">
    <h1 class="subsectionTitles">Recommended</h1>
</a>

<%- include('./partials/subscribedPanorama.ejs') %>

<% } %>


<a class="subsectionTitles" href="/videos/new">
    <h1 class="subsectionTitles">New Uploads</h1>
</a>

<%- include('./partials/newPanorama.ejs') %>