<h1>Profile for <%= locals.username %></h1>
<!-- have to change this to PUT -->
<form action='/myprofile/<%= locals.username %>' method="POST">
    <label for="walletAddress">Input/Update your Wallet Address Below</label>
    <input id="walletAddress" type="text" name="walletAddress">
    <button type="submit">Submit</button>
</form>