<!-- page to display all popular, subbed and recommended -->

<h1><%= subsectionTitle %></h1>
<!-- iterate over the all the files sent and create a thumbnail for each video which links to the actual video -->
<% for(let i = 0;i < files.length; i++) { %>
    <a href="/videos/watch/<%= files[i]%>">
        <video height="400" width="400">
            <source src="/videos/<%= files[i] %>">
        </video>
    </a>
<% } %>