<!-- POST form to upload video -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7-rc.0/web3.min.js"></script>


<form onsubmit="return deployContract(event)" method="POST" action="/videos/upload" enctype="multipart/form-data">
    <input type="file" name="video" required> 
    <label for="videoTitle">Video Title</label>
    <input type="text" name="videoTitle" id="videoTitle" required>
    <label for="description">Description</label>
    <input type="text" name="description">
    <label for="reactTerms">React Terms (Percentage cut you would like from someone reacting to your video)</label>
    <input type="text" id="percentageCut">
    <div id="reactedToInputFormLocation">
      <p>Reacted To?</p>
      <button hx-get="/videos/upload/reactedToInputForm"
        hx-target="#reactedToInputFormLocation"
        hx-swap="innerHTML">Yes</button>
    </div>
    <input type="submit">
</form>

<button onclick="connectMetamask()">CONNECT TO METAMASK</button><br>
<button onclick="deployContract()">deployContract</button><br>

<p id="userArea">Status: Not connected to Metamask</p>
<script src="/scripts/uploadSmartContract.js"></script>