<h1>Register Below</h1>
<form action='/register/attempt' method="POST">
    <label>Username</label>
    <input type="text" name="username">
    <label>Email</label>
    <input type="email" name="email">
    <label>Password</label>
    <input type="password" name="password">
    <button type="submit">Register</button>
</form>