<div class="containerForLoginPage">
    <h1>Register Below</h1>
    <form class="containerForLoginForm" action='/register/attempt' method="POST">
        <div>
            <label class="loginInputLabels">Username</label>
        </div>
        <div>
            <input class="loginInputs" type="text" name="username" required>
        </div>
        <div>
            <label class="loginInputLabels">Email</label>
        </div>
        <div>
            <input class="loginInputs" type="email" name="email" required>
        </div>
        <div>
            <label class="loginInputLabels">Password</label>
        </div>
        <div>
            <input class="loginInputs" type="password" name="password" required>       
        </div>
        <div class="loginPageSubmitButtonContainer">
            <button class="loginPageSubmitButton" type="submit">Register</button>
        </div>

    </form>
</div>

