<div class="containerForLoginPage">
    <h1>Log In Below</h1>
    <form class="containerForLoginForm" action='/login/attempt' method="POST">
        <%- include('../../partials/errorMessage.ejs') %>
        <div>
            <label class="loginInputLabels">Email</label>
        </div>
        <div>
            <input class="loginInputs" type="email" name="email">
        </div>
        <div>
            <label class="loginInputLabels">Password</label>           
        </div>
        <div>
            <input class="loginInputs" type="password" name="password">           
        </div>
        <div class="loginPageSubmitButtonContainer">
            <button class="loginPageSubmitButton" type="submit">Log In</button>
        </div>
        <a href="/register">No account? Register here!</a>
    </form>
</div>
