<div class="aboutContainer">
    <div class="aboutTitleAndLogo">
        <img class="aboutLogo" src="https://bucketwatchnow.s3.us-east-1.amazonaws.com/pageImages/WatchNowLogoBig.png" alt="Watch Now Logo">
        <h1 class="aboutTitle">
            About WatchNow
        </h1>
    </div>
    <p class="aboutText">
        WatchNow was developed with a focus on encouraging content creation unlike any platform before.
        The online sphere right now is the Wild West when it comes to intellectual property rights. How many times have you or your favourite creators been robbed of their earnings from others
        without so much as a link to the original video?
        <br><br>
        WatchNow however unlike the Wild West will not bring down the fist of authority to these anarchic lands and force compliance. WatchNow, through the use of integrated blockchain technologies
        empowers creators to make agreements between themselves regarding licensing of videos. These are done using Ethereum smart contracts. Rather than issuing a license, getting some authority to
        manage YOUR intellectual property. You are able to make your own contractual agreements at the click of a button that are automatically honoured once the licensee earns revenue. That is, not even WatchNow dictates
        or middlemans your intellectual property.
        <br><br>
        When someone reacts to a video you or your favourite content creator made, according to the terms you set in the agreement you will earn a percentage of any revenue they earn. Of course,
        set it too high and perhaps your video will never get the traction it needs or set it too low and you will be taken advantage of.
        <br><br>
        Regardless! It is not up to WatchNow to decide how you traverse the content space market but only and soley YOU.
    </p>
    <h1 class="aboutTitle">
        Getting Started
    </h1>
    <video class="aboutText" controls>
          <source src="https://bucketwatchnow.s3.us-east-1.amazonaws.com/pageImages/gettingStarted.mp4">
    </video>
</div>