nav {
    background-color: rgb(254, 119, 67);
    color: rgb(39, 63, 79);
    /* height of banner */
    min-height: 50px;
    /* ensures that the navbar stays at the top when scrolling */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 50px; */
    /* ensures it overlaps everything */
    z-index: 9999;
    /* makes it a flexbox container */
    display: flex;
    /* puts the links at the end */
    justify-content: flex-end;
    align-items: center;
    /* padding-right: 10px; */
    padding-left: 20px;
    /* margin-right: 10px; */
    /* border-bottom: 1px solid grey; */
    /* gap: 10px; */

    font-size: 16px;
}

.navbarLogoContainer {
    padding: 5px;
    margin-left: 0;
    margin-right: auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbarLogo {
    height: 40px;
    width: 40px;
    align-self: flex-start;

    padding: 5px;
    background-color: white;
    /* border-radius: 50px; */

}

.navbarSearch {
    display: flex;
    max-height: 60%;
    flex-grow: 1;
    justify-content: center;
}

.searchInput {
    width: 50%;
    padding-left: 5px;
}

.searchIcon {
    height: 25px;
    padding: 5px;
    border-left: none;
}

.navbarLinks {
    text-decoration: none;
    color: rgb(39, 63, 79);
    font-weight: bolder;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* flex-shrink: 1; */
    min-height: 50px;
}

.navbarLinks:hover {
    background-color: rgb(68, 125, 155);
}

.navbarLinks:focus {
    background-color: grey;
}

#logOutButton {
    background-color: transparent;
    border: none;
    color: rgb(39, 63, 79);
    font-weight: bolder;
    font-size: 16px;

}

#logOutButton:hover {
    cursor: pointer;
    background-color: rgb(68, 125, 155);
}

#logOutButton:focus {
    background-color: grey;
}

@media (max-width: 500px) {
    nav {
        flex-direction: column;
        position: absolute;
        padding-left: 0;


    }
    body {
        padding-top: 260px;
    }

    .navbarLogoContainer {
        display:none;
    }

    .navbarLinks {
        border-bottom: solid black 1px;
        width: 100%;
        align-items: center;
        min-height: 0;
    }

    .logout {
        width: 100%;
    }

    #logOutButton {
         border-bottom: solid black 1px;
    }
}