.subsectionTitles {
    border-bottom: 1px solid grey;
    /* border-top: 1px solid grey; */
}

.videoPanorama {
   display: flex; 
   justify-content: space-around;
   gap: 5vh;
}



.backAndForwardButton {
    align-self: center;
}

.videoCard {
    flex-shrink: 1;
    padding-left: 10px;
    padding-right: 10px;
    flex-grow: 1;

    /* made this a flex box just so i could have a gap in between the divs */
    display: flex;
    flex-direction: column;
    gap: 5px;

    /* just some space from the popular, recommended and new upload titles*/
    padding-top: 20px;
    padding-bottom: 20px;
}

.videoContainer {
    display: flex;
    /* max-width: 500px; */
    /* flex-basis: 250px; */
    max-height: 250px;
    max-width: 440px;
    aspect-ratio: 2;
}
/* .videoCardPairs {
} */
@media (max-width: 900px) {
    .videoPanorama {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .videoContainer {
        max-width: 100%;
        max-height: 100%;
    }
}

.videoLinks {
    height: 100%;
    width: 100%;
}

.videoThumbnail {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    object-fit: fill;
}

.homePageVideoTitle {
    font-weight:550;
}

.usernameUnderVideo{
    font-weight: lighter;
    font-size: 15px;
}

.homepageViewsAndDate {
    font-size: 14px;
}

.videoCardPairs {
    display: flex;
    gap: 5px;
}

.pfpUnderVideo {
    width: 25px;
    height: 25px;
    border-radius: 50px;
}

.usernameUnderVideo {
    align-self: center;
}