.subsectionTitles {
    border-bottom: 1px solid grey;
    /* border-top: 1px solid grey; */
    text-decoration: none;
    color: rgb(39, 63, 79);
}

.subsectionTitles:hover {
    color:rgb(68, 125, 155)
}

.videoPanorama {
   display: flex; 
   justify-content: space-around;
   gap: 5vh;
   flex-shrink: 3;
}



.backAndForwardButton {
    align-self: center;
    text-align: center;
    border-radius: 25px;
    border: none;
    /* width: 50px; */
    width: 25px;
    height: 25px;
    font-weight: bold;
    background-color: rgb(39, 63, 79);
    color: rgb(254, 119, 67);
    flex-shrink: 0;
}

.backAndForwardButton:hover {
    background-color: rgb(68, 125, 155);
    cursor: pointer;
}

.backAndForwardButton:focus {
    background-color: grey;
}




/* .videoCardPairs {
} */
@media (max-width: 1000px) {
    .videoPanorama {
        flex-wrap: wrap;
        flex-direction: column;
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .backAndForwardButton {
        left: 50%;
        position: relative;
        transform: translate(-50%, 0);
    }

    .videoCard {

    }
}

