
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(37, 36, 36);
    color: rgb(238, 238, 238);
}