/* videos/index.ejs */

.profilePageContainer {
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profileRow {
    display: flex;
}

.profileRightColumn {
    margin-right: 0;
    margin-left: auto;
}

#editProfileButton {
    border-radius: 25px;
    border: none;
    width: 50px;
    font-weight: bold;
}

#editProfileButton:hover {
    background-color: darkgrey;
    cursor: pointer;
}

.profilePicture {
    height: 100px;
    width: 100px;
    border-radius: 15px;
}

.banner {
    height: 100px;
    width:fit-content;
    align-self: center;
    border-radius: 25px;
}

.profileBioContainer {

}

.profileBio {
    min-height: 100px;
    /* border: 1px solid grey; */
    border-radius: 25px;
    min-width: 100%;
}

#editFormContainer {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 100%; */
    /* justify-content: center; */

}

#editProfileForm {
    display: flex;
    flex-direction: column;
    /* z-index: 10; */
    justify-content: center;
    gap: 40px;
        border: 1px solid grey;
        border-radius: 50px;
    background-color: white;
    padding: 25px;
}

.editProfileFormLabelsAndInputs {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.formRows {
    display: flex;
    flex-direction: column;
}

.editProfileFormInputs {
    border: none;
    border-radius: 50px;
    background-color: lightgrey;
    /* margin-right: 0;
    margin-left: auto; */
    font-size: 16px;
    padding: 5px;
    /* align-self: center; */
}

#bio {
    height: fit-content;
}

.editProfileFormSubmitButtonContainer {
    align-self: center;
}

.editProfileFormSubmitButton {
    border: none;
    font-weight: bold;
    padding: 5px;
    border-radius: 25px;
}

.editProfileFormSubmitButton:hover {
    background-color: darkgrey;
    cursor: pointer;
}

.editProfileFormXButton {
    align-self: flex-end;
    font-weight: bold;
    border-radius: 100px;
    padding: 10px;
    color: black;
    contain: size layout;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.editProfileFormXButton:hover {
    cursor: pointer;

    background-color: darkgrey;
    transition: 0.1s;
}