/* videos/index.ejs */

.profileRow {
    display: flex;
}

.profileRightColumn {
    margin-right: 0;
    margin-left: auto;
}

.profilePicture {
    height: 100px;
    width: 100px;
    border-radius: 15px;
}

.profileBioContainer {

}

.profileBio {
    min-height: 100px;
    /* border: 1px solid grey; */
    border-radius: 25px;
    min-width: 100%;
}

#editFormContainer {
    /* display: flex; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 100%; */
    /* justify-content: center; */

}

#editProfileForm {
    display: flex;
    /* z-index: 10; */
    justify-content: center;
    gap: 40px;
        border: 1px solid grey;
        border-radius: 50px;
    background-color: white;
    padding: 25px;
}

.editProfileFormLabelsAndInputs {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.editProfileFormInputs {
    border: none;
    border-radius: 50px;
    background-color: lightgrey;
    margin-right: 0;
    margin-left: auto;
    font-size: 16px;
    padding: 5px;
}

.editProfileFormSubmitButton {
    align-self: center;
}

.editProfileFormXButton {
    align-self: flex-start;
}