.videoPage {
    display: flex;
    gap:20px;
    width: 100%;
}

.videoPageLeftColumn {
    flex-grow: 1;
        max-width: 60%;
}

.videoPlayerContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 100%;
}

@media (max-width: 1000px) {
    .videoPage {
        flex-direction: column;
    }

    .videoPageLeftColumn {
        max-width: 100%;
    }
}

.videoPlayer {
    border-radius: 10px;
    max-width: 100%;
}

#videoPageTitle {
    font-weight: bold;
}

.videoMetaDataContainer {
    display: flex;
    gap: 10px;
}

.pfpUnderVideo {
    width: 25px;
    height: 25px;
    border-radius: 50px;
}

.videoUsernameUnderVideo {
    font-weight: bold;
    text-decoration: none;
    color: rgb(39, 63, 79);
}

.donateButton {
    font-weight: bold;
    background-color: rgb(254, 119, 67);
    border: none;
    border-radius: 5px;
    color: rgb(39, 63, 79);
    padding: 5px;
}

.donateButton:hover {
    cursor: pointer;
    background-color: rgb(68, 125, 155);
}

.donateButton:focus {
    background-color: grey;
}

.videoPageMiddleColumn {
    align-self: flex-start;
}

.videoPageRightColumn {
    flex-shrink: 3;
}

